@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color: #f15a24;
}

i{
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    height: 100vh;
}

.container .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.container .left-section .logo{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.container .left-section .logo img{
    height: 3.5rem;
    object-fit: cover;
}


.menu-btn{
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #efdbd5;
    border-radius: 0.3rem;
    cursor: pointer;
    display: none;
}

.menu-btn i{
    font-size: 1.125rem;
    color: #f15a24;
}

.container .left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.container .left-section .sidebar .item{
    display: flex;
    gap: 1.25rem;
    cursor: pointer;
}

.container .left-section .sidebar i{
    color: #BDBDBD;
    transition: all 0.3S ease;
}

.container .left-section .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 0.8rem;
    color: #BDBDBD;
    position: relative;
    transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a,
.container .left-section .sidebar .item#active i,
.container .left-section .upgrade .link i{
    color: #f15a24;
}

.container .left-section .sidebar .item a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    background-color: #f15a24;
    right: -1.8rem;
    border-radius: 50%;
    top: 0;
    transform: translateY(116%);
    transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a::after{
    width: 0.5rem;
    height: 0.5rem;
}

.container .left-section .pic img{
    width: 17rem;
}

.container .left-section .upgrade{
    background: #efdbd5;
    height: 5.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1.25rem;
    border-radius: 1.125rem;
    cursor: pointer;
}

.container .left-section .upgrade .link{
    display: flex;
    align-items: center;
     justify-content: space-between;
}

.container .left-section .upgrade .link a{
    font-size: 0.75rem;
}




main{
    border-right: 2px solid #F0F0F0;
    border-left: 2px solid #F0F0F0;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

main header{
    display: flex;
    align-items: center;
    gap: 0.937rem;
}

main header h5{
    font-size: 1.125rem;
    color: #f15a24;
    font-weight: 400;
}

main .separator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
}

main .separator .info{
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

main .separator .info h3{
    font-size: 1.875rem;
}

main .separator .info a{
    margin-top: 0.375rem;
    font-size: 0.875rem;
}

main .separator .search{
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

main .separator .search i{
    font-size: 1.25rem;
    color: #BDBDBD;
}

main .separator .search input{
    border: none;
    font-size: 0.875rem;
    width: 5rem;
    outline: none;
}

main .separator .search input::placeholder{
    color: #BDBDBD;
}

main .analytics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

main .analytics .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.75rem;
    min-width: 13.3rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
}

main .analytics .item .progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .analytics .item .progress .info h5{
    color: #fff;
    font-size: 1.25;
    font-weight: bold;
}

main .analytics .item .progress .info p{
    color: #fff;
    font-size: 0.75rem;
}

main .analytics .item .progress .progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
}

main .analytics .item:nth-child(1) .progress .progress-bar{
    background: radial-gradient(closest-side, #1665af 79%, transparent 80% 100%),
    conic-gradient(#005baf 25%, #fff 0%);
}

main .analytics .item:nth-child(2) .progress .progress-bar{
    background: radial-gradient(closest-side, #f15a24 79%, transparent 80% 100%),
    conic-gradient(#ff4400 65%, #fff 0%);
}

main .analytics .item:nth-child(3) .progress .progress-bar{
    background: radial-gradient(closest-side, #f15a24 79%, transparent 80% 100%),
    conic-gradient(#ff4400 45%, #fff 0%);
}

main .analytics .item:nth-child(4) .progress .progress-bar{
    background: radial-gradient(closest-side, #1665af 79%, transparent 80% 100%),
    conic-gradient(#005baf 25%, #fff 0%);
}

main .analytics .item .progress .progress-bar::before{
    font-size: 0.625rem;
    color: #fff;
}

main .analytics .item:nth-child(1) .progress .progress-bar::before,
main .analytics .item:nth-child(4)  .progress .progress-bar::before {
    content: "75%";
}

main .analytics .item:nth-child(2) .progress .progress-bar::before{
    content: "35%";
}

main .analytics .item:nth-child(3) .progress .progress-bar::before{
    content: "65%";
}

main .analytics .item i{
    font-size: 5rem;
    color: #fff;
}

main .analytics .item:nth-child(1){
    background: #1665af;
}

main .analytics .item:nth-child(2){
    background: #f15a24;
}

main .analytics .item:nth-child(3){
    background: #f15a24;
}

main .analytics .item:nth-child(4){
    background: #1665af;
}

